extends layout

block content
  div(style="padding: 3em; text-align: center;")
    h3 <strong>Saimaa Still solutions and innovations</strong>
    p Saimaa Still Ltd. is a Finnish producer of suppressors, sports fire arms, weapon parts and accessories. The products of Saimaa Still are designed to suit the requirements of multiple customer segments: sportsmen, hunters, law enforcement officers and military services.
    p The founders and personnel of the company have broad experience in firearms design and production, also confirmed by field experience at shooting range and in real-life battlefield conditions. The continuous end-users&#39; feedback allows us to deeply understand the needs of our customers and to adjust the direction of product improvement and development. Certain features of our products have been suggested by and engineered with the assistance of SWAT teams personnel.
    p Saimaa Still has done a lot of research and development in the area of gas operated self loading guns and suppressors. New patented structure allows gas and pressure to stream through the suppressor and enables the gas to vent away from the muzzle.
    p When the pressurized hot gas streams through the filter inside the suppressor, the velocity of the gas is reduced to subsonic. At the game time the hot gas cools down dramatically which suppresses the flame.
    p Heat will degrade and destroy a weapon faster than any other factor. The critical weakness in traditional baffle suppressor is that it does not vent the hot gas out. The Saimaa Still Stream-Through suppression system provides superior heat management by allowing the gas and extra energy to exit the suppressor.
    p Saimaa Still suppressors will protect your hearing and the hearing of those around you.