extends layout

block content
  h1(style="margin-left: 1em;") Products
  #listaus(style="text-align: center;")
    each tuote in tiedot
      div(id="tuotediv_" + tuote.id, style="display: inline-block; margin: 10px;")
        a(href="/products/" + tuote.id)
          div(style="background-color: white; height: 150px; width: 150px; display: flex; justify-content: center; align-items: center;")
            img(src="kuvat/" + tuote.kuvaurl + ".png", style="max-width: 150px; max-height: 150px;")
          p(align="center") SStill #{tuote.tuotenimi} <br /> #{tuote.hinta} &euro;