doctype html
html
  head
    title Saimaa Still Store
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
  body
    #store.container-fluid
      a(href="/")
        img(src="kuvat/logo_beta.jpg", style="width: 960px; margin-left: 0px;")
      block content