extends layout

block content
  h3 QD 556-MIL
  h4 Intended for weapons:
  p M16, M4, M4A1, CQBR, G36, HK 237, HK 433, HK 416, A5-11, HK 233, HK 417, A2-13, FN SCAR-L, CQC, STD, SV, AK 74, AKSU, AK103, AK105, SIG 500, SG551, S552, SG553, 516PDW, 516CQB, 516 TP
  ul
    li Full auto operation compatible.
    li Designed for gas operated rifles. Decreases gas blow back.
    li Quick Detach muzzle device. Pull on/off 2-3 sec.
    li Adjustment of recoil direction.
  .table-responsive
    table.table-bordered
      tr
        th Length total mm
        th Barrel extension mm
        th Weigth gr
        th Diameter mm
        th Suppressed db(A)
      tr
        td 190
        td 172
        td 650
        td 43
        td -29
  p Lifetime shots: 10 000 for aluminum foam, 15 000 for steel body
  p Maintenance with: liquid cleaner for carburetors, brake cleaner, ultrasonic bath
  p Materials: stainless steel, titanium, nitrated carbon steel
  p Finishes: sandblasted, nitrated, Option: Ceracote painted