extends layout

block content
  div(style="width: 200px; float: right; margin: 30px; border: solid black 3px; padding: 1em;")
    h4 <strong>Intended for weapons:</strong>
    p M16, M4, M4A1, CQBR, G36, HK 237, HK 433, HK 416, A5-11, HK 233, HK 417, A2-13, FN SCAR-L, CQC, STD, SV, AK 74, AKSU, AK103, AK105, SIG 500, SG551, S552, SG553, 516PDW, 516CQB, 516 TP
  h3 QD 556-C
  ul
    li Light weight and short length, for semi-automatic rifles.
    li Designed for gas operated rifles. Decreases gas blow back.
    li Quick Detach muzzle device. Pull on/off 2-3 sec.
    li Adjustment of recoil direction.
  .table-responsive
    table.table(style="border: 2px solid black;")
      tr
        th Length total mm
        th Barrel extension mm
        th Weigth gr
        th Diameter mm
        th Suppressed db(A)
      tr
        td 190
        td 172
        td 445
        td 44
        td -29
  p <strong>Lifetime shots:</strong> 7000 for aluminum foam, 15 000 for steel body
  p <strong>Maintenance with:</strong> liquid cleaner for carburetors or brake cleaner
  p <strong>Materials:</strong> stainless steel, titanium, nitrated carbon steel, heat resistant duraluminum
  p <strong>Finishes:</strong> sandblasted, nitrated, anodized, Option: Ceracote painted